<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed == true %>
  <p><%= "ðŸ”˜ This task is complete!" %></p>
<% else %>
  <p><%= "âšªï¸ This task is not complete!" %></p>
<% end %>

<p> <%= link_to "Return to task list", tasks_path %> </p>
<p> <%= link_to "Delete this task",
       task_path(@task),
       method: :delete,
       data: { confirm: "Are you sure?" } %>
</p>
